/* .image-banner1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(33, 87, 187, 0.5), rgba(33, 187, 130, 0.5)), url('https://www.ryanscomputers.com/storage/media_gallery/HP-bundle-offer-long-banner_1698923019.jpg');
  background-size: cover;
  background-position: center;
}

.image-banner2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30)), url('../assets/pc/pc-6.png');
  background-size: cover;
  background-position: center;
}

.image-banner3 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30)), url('../assets/pc/pc-7.png');
  background-size: cover;
  background-position: center;
} */