/* swiper pagination style */
.swiper-pagination-bullet {
  background-color: transparent !important;
  height: 12px;
  width: 12px;
  opacity: 1 !important;
  border: 1px solid rgb(30 58 138);
}

.swiper-pagination-bullet-active {
  background-color: rgb(30 58 138) !important;
  border: 1px solid rgb(30 58 138);
  transform: scale(1.4);
}