/* Add this to your CSS or global styles */
.hover\:shadow-customBlue:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 255, 0.1), 0 2px 5px rgba(0, 0, 255, 0.06);
}
.card-height{
    height:500px;
}


.signle-product-card{
    width: 450px;
    height:400px;

}

