.speed {
    transition: 0.5s;
  }
  
  .btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #ffffff;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #246df7;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 10px;
  }
  
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #ffffff;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #1e1e70;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border-radius: 10px;
  }

  .review-text-shadow-blue {
    text-shadow: 2px 5px 10px #3498db;
  }

  .no-found-review{
    font-size: 40px;
    color: transparent;
    overflow:hidden;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:0 0 rgb(17, 17, 221),10em 0 blue;
    animation:marquee 3s infinite ease;
  }
  .no-found-review:before {
    content:"";
  }

  @keyframes marquee {to{text-shadow:-11em 0 blue, 0 0 blue}}

  